default:
  suites:
    default:
      contexts:
        - AuthenticationContext
        - RestContext
        - EntityContext
        - Knp\FriendlyContexts\Context\TableContext
        - Behat\MinkExtension\Context\MinkContext
        - Sanpi\Behatch\Context\JsonContext

  extensions:
    Behat\Symfony2Extension:
      kernel:
        debug: false
        env: "test"

    Behat\MinkExtension:
      sessions:
        default:
          symfony2: ~

    Sanpi\Behatch\Extension: ~

    Knp\FriendlyContexts\Extension:
      entities:
        namespaces:
          - AppBundle

registry2:
  suites:
    default:
      filters:
        tags: @registry2

  extensions:
    Behat\MinkExtension:
      base_url: 'http://172.17.0.1:5000/'
      sessions:
        default:
          symfony2: false
          goutte: ~
