{% extends 'base.html.twig' %}

{% block body %}
    {{ include('layout/navbar.html.twig') }}

    <div class="container">
        <div class="row">
            {% block content %}
                {% block fos_user_content %}{% endblock %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/main.js') }}"></script>
{% endblock %}