{% extends 'layout.html.twig' %}

{% block content %}

    {% if is_granted('ROLE_USER') %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'last_manifests'|trans }}</h3>
            </div>
            <div class="panel-body">
                {{ render(controller('AppBundle:Default:manifestsList')) }}
            </div>
        </div>

    {% else %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'welcome_dunkerque.title'|trans }}</h3>
            </div>
            <div class="panel-body">
                {{ 'welcome_dunkerque.body'|trans }}
            </div>
        </div>
    {% endif %}

{% endblock %}
