{% extends 'layout.html.twig' %}

{% block content %}
    <div id="welcome">
        <h1>Welcome to Dunkerque</h1>
        <p>Your docker registry !</p>
    </div>

    {% if is_granted('ROLE_USER') %}
        {{ render(controller('AppBundle:Default:manifestsList')) }}
    {% endif %}

{% endblock %}
