<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'repositories.last_public'|trans }}</h3>
    </div>
    <div class="panel-body">
        <ul>
            {% for repo in repositories %}
                <li><a href="{{ path('repository', {name: repo.name}) }}">{{ repo.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
