<table class="table table-striped ">
    <thead>
        <tr>
            <th>{{ 'manifest.name'|trans }}</th>
            <th>{{ 'manifest.tag'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for manifest in manifests %}
            <tr>
                <td>{{ manifest.name }}</td>
                <td>{{ manifest.tag }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
