<div>
    <h1>Manifests</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Tag</th>
            </tr>
        </thead>
        <tbody>
            {% for manifest in manifests %}
                <tr>
                    <td>{{ manifest.name }}</td>
                    <td>{{ manifest.tag }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>